
    body {
        background-image: url("background12.png");
        width: 100%;
        font-family: sans-serif;




    }

    .header,
    .menu,
    .info-container,.main-content,.footer {
        padding-left: 12%;
        padding-right: 12%;
    }

    .header-right {
        float: right;
        padding-top: 24px;
    }

    .header-right a {
        text-decoration: none;
        border-right: 1px solid #777272;
        padding-left: 16px;
        padding-right: 16px;
        font-size: 10px;
        color: #645c5c;

    }

    .header-right a:hover{
        text-decoration: underline;
    }
    .menu{
        background-color: #d9d7d8;
        margin-top: 1px;
        margin-bottom: 1px;
    }

  


    .menu ul {
        list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
        
       
    }

    .menu li {
        float: left;
        border-right: 1px solid white;
    }

   

    .menu li:hover{
        background-color: #f1f1f1;
    }

    .menu a {
        color: black;
        display: block;
        text-align: center;
        padding: 8px 16px 8px 16px;
        text-decoration: none;
        font-size: 12px
    }

    

    .border {
        border-bottom: 1px solid #d9d7d8;
        border-top: 1px solid #d9d7d8;
        position: relative;
    }

    .search-container {
        position: absolute;
        padding: inherit;
        bottom: 6px;
        right: 0;


    }

    .search-container button {
        border-radius: 4px;
        background: white;
        border-color: #d9d7d8;
    }

    .search-container input {

        border-color: #d9d7d8;
    }


    .content #border{
        border-top: 1px solid #d9d7d8;
        padding-left: 0%;
        
    }



    .info-container{
        position: relative;
    }



    #info-right img {
        padding-top: 12px;
    }

    #info-right a {
        vertical-align: 12px;
        display: inline;
      
       

    }

    #info-left li:first-child {
        list-style-type: none;
    }

    .info a{
        color: #304c84;
        text-decoration: none;
        font-size: 14px;    
    }

    .info a:hover{
        text-decoration: underline;
    }

    #info-right {
        position: absolute;
        padding: inherit;
       
        top:-10px;
        right: 38px;

    }

  

    #info-left ul {
        margin: 0px;
        padding-left: 10px;
        padding-top: 12px;
        padding-bottom: 12px;
        overflow: auto;
    }

    #info-left li {
        float: left;
        list-style-type: circle;
       
        
    }

    #info-left a {
        padding-right: 24px;
    }

    .main-content-top{
       background-color:white;
        display:flex;
        width: 100%;
        border-width: 8px 8px 4px 8px;
        border-style: solid;
        border-color: white;

        
    }

    #main-content-top-left{
        width: 70%;
        
    }

 

    #main-content-top-left img{
       width: 100%;
    }

    #main-content-top-right #inner-container{
        background-color: #3e3c3d;
       
        margin-left: 8px;
        position: relative;
        border: 8px solid #3e3c3d;
        flex: 1;
          
     
    }

    #main-content-top-right{
        padding-bottom: 4px;
        position: relative;
        display: flex;
        flex: 1;
    }
    
    #main-content-top-right #border{
        border: 1px solid rgb(141, 129, 129);
        position: relative;
        height:100%
        
    }

    

    #main-content-top-right #border div{
        padding: 40px 24px 20px 24px    
        
    }

    #main-content-top-right a{
        color: white;
        text-decoration: none;
    }

    #main-content-top-right li a:hover{
        text-decoration: underline;
    }

    #main-content-top-right #inner-container ul{
        list-style: none;
		padding: 0px
        
      
    }

    #main-content-top-right #inner-container li{
        border-bottom: 1px solid rgb(141, 129, 129);
        padding: 8px;
        font-size:14px;
        font-weight: 500;
        

    }

    #last:hover{
        text-decoration: underline;
    }

    #main-content-top-right #inner-container li a:first-child{
        padding-top:0;
    }
    #main-content-top-right #inner-container li:last-child{
        border-bottom:none;
       

    }

    

    #main-content-top-right #border #heading    {
       font-size:26px;
       text-align:center;
       padding-left: 8px;
       
    }

    #defination{
        line-height: 20px; 
        padding-left: 8px;
       

    }

     .medium-text{
        font-size:12px;
        color:rgb(221, 207, 207);
    }

    #main-content-top-right #border #last{
        color:rgb(221, 207, 207);
        padding-left: 8px;
       

    }

    
    .main-content-bottom{
        width: 100%;
        background-color: white;
        border: 8px solid  #242224;
        position: relative;
        

    }

    .promo-text,.promo-img{
        position: absolute;
    }

    .promo-text{
        padding: 16px;
    }

    .promo-text-s{
        font-size: 12px;
    }


    #promo-text-one{
       

    }

    #promo-text-two{

    }
    #promo-text-three{
        width: 50%;
    }

    #promo-img-one{
       
        bottom: -4px;
    }
    #promo-img-two{
      
        bottom: -4px;
    }
    #promo-img-three{
        
        bottom: -4px;
        right: 0px;
    }

    .see-all-redirect a{
        text-decoration: none;
        color: #304c84;
        font-size: 14px;
      
    }

    .see-all-redirect{
        text-align: end;
    }

    #last-div{
        text-align: start;
    }

    

   

    .see-all-redirect a:hover{
        text-decoration: underline;
    }

    .promo-text-header{
        font-size: 16px;
        padding-left: 16px;
        
    }

   

    .promo-div{
        float: left;
        width: 33.33%;
        height: 180px;
        position: relative;
        box-sizing: border-box;
        border-right: #242224 1px solid;
       
    }


    .main-content-bottom:after {
        content: "";
        display: table;
        clear: both;
      }
      
   

    



    
   


    
footer{
    padding: 15px 0;
    font-size: small;
    color: gray;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

footer a{
    color: gray;
    text-decoration: underline;
}

.footer-link{
    padding: 0 10px;
    border-left: 1px solid gray;
}

.first-footer-link{
    padding-right: 5px;
}

.contact{
    margin-top: 10px;
}

.contact p{
    margin-bottom: 7px;
}

.signup{
    margin-top: 10px;
}

.signup input{
    font-family: 'Montserrat', sans-serif;
    font-size: smaller;
    width: 60%;
    border: 1px solid rgba(0,0,0,.3);
    padding: 3px 6px;
    margin-right: 5px;
}

.form-button{
    border-radius: 6px;
    border: 1px solid rgba(0,0,0,.3);
    padding: 2px 6px;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    font-weight: 700;
}

   


  

    

   
    